# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

frontend/localhost-key.pem
frontend/localhost.pem
backend/src/main/resources/keystore.p12
